:root {
    --bk: antiquewhite;
    --backgroundcol: #0a0a0a;
    --trafficred: #ff0000;
    --sunglow: #ffcc00;
    --liberty: #8479b9;
    --oceangreen: #5fbb97;
}

* {
    box-sizing: border-box;
}

html,
body,
main {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 100vw;
    background-color: var(--backgroundcol);
}

a {
    color: var(--sunglow) !important;
    text-decoration: none !important;
}

a:hover {
    color: var(--trafficred) !important;
}

h1 {
    color: var(--liberty) !important;
}

header {
    max-width: 100vw;
    min-height: 3rem;
    padding: 0 20px;
    text-align: center;
    background: var(--backgroundcol);
    color: var(--oceangreen);
}

button {
    background-color: transparent;
    border: 1px solid var(--backgroundcol);
    border-radius: 10px !important;
    color: var(--backgroundcol);
    font-size: 0.75rem !important;
    margin-left: 0.5rem !important;
}

button:hover {
    background-color: var(--trafficred);
    color: var(--backgroundcol);
}

.language {
    width: 100%;
    height: fit-content;
    text-align: right;

    margin-bottom: -50px;
    background-color: var(--backgroundcol);
}

.language > button {
    font-size: 1.5rem !important;
    padding: 4px 8px;
    margin-top: 10px;
    margin-right: 25px;
    box-shadow: var(--sunglow) 0px 5px 15px;
}

.language > button:hover {
    box-shadow: var(--trafficred) 0px 5px 15px;
    border: 1px solid transparent;
    background-color: transparent;
}

header > h1 {
    font-size: 3rem;
    font-weight: bold;
}

header > p {
    padding-bottom: 10px;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 20px 5vw;
    margin-top: -18px;
}

.small {
    font-size: 1rem !important;
}

.date {
    color: var(--liberty);
}

.card {
    width: 20%;
    width: 20vw;
    min-height: 20% !important;
    min-height: 20vh !important;
    border-radius: 20px !important;
    margin: 10px 1vw !important;
}

.not-full {
    padding: 15px;
    overflow: hidden !important;
    height: 20% !important;
    height: 20vh !important;
}

.full {
    height: fit-content;
}

.card-title {
    font-size: 1rem !important;
}

.card-text {
    font-size: 1rem !important;
    color: var(--oceangreen) !important;
    padding-top: 10px;
}

.card-text:hover {
    color: var(--trafficred) !important;
    cursor: pointer;
}

.no-hover:hover {
    color: var(--oceangreen) !important;
    cursor: default;
}

.time {
    color: var(--liberty) !important;
    padding: 0;
}

.time:hover {
    color: var(--liberty) !important;
    cursor: default;
}

@media only screen and (min-width: 1001px) and (max-width: 1250px) {
    main {
        justify-content: space-between;
    }

    .card {
        width: 25%;
        width: 25vw;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        justify-content: space-between;
    }

    .card {
        width: 40%;
        width: 40vw;
    }

    .card-title {
        font-size: 1rem !important;
        font-weight: bold;
    }
}

@media only screen and (max-width: 740px) {
    main {
        flex-direction: column;
        padding: 10px;
    }

    header > h1 {
        font-size: 2rem;
    }

    header > p {
        font-size: 1.5rem;
    }

    .card {
        width: 85%;
        width: 85vw;
    }
}
