:root {
    --bk: #0a1c0a;
    --main: antiquewhite;
}

html,
body,
main {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

header {
    width: 100vw;
    min-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background: var(--main);
    color: var(--bk);
}

main {
    margin: 1rem auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 80vw;
}

@media only screen and (max-width: 740px) {
    main {
        width: 100vw;
        justify-content: center;
    }
}
